.contact-form__head-title, .contact-form__head-text, .input__label-text,
.contact-form__bottom-policy, .contact-form__form-message textarea, .contact-form__input input {
    color: #172c5f;
    font-family: 'Sans-Serif';
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.contact-form{
    width: 100%;
    height: 100%;
    padding: 80px 4.16667vw;
    background-color: #f5f5f5;
}

.contact-form__head{
    display:flex;
    margin-bottom:40px;
    box-sizing: border-box;
}

.contact-form__head-title{
    font-size: 50px;
    line-height: 1.5;
    margin-right: 4.16667vw;
    width: 20.83335vw;
}

.contact-form__head-text{
    font-size: 25px;
    line-height: 1.7;
    padding-top: 20px;
    width: 45.83337vw;
}

.contact-form__form{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-form__form-inputs{
    display: flex;
    flex-wrap: wrap;
    width: 45.83337vw;
}

.contact-form__input:nth-child(2n) {
    margin-right: 0;
}

.input__label{
    margin: 0;
}

.input, .input__label {
    position: relative;
    width: 100%;
    height: 100%;
}

.input__label-text{
    margin-bottom: 10px;
    font-size: 20px;
}

.contact-form__input input {
    height: 60px;
    font-size: 20px;
}

.input__input{
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    border: 1px solid transparent;
    padding: 0 30px;
    transition: border .3s;
    outline: none;
}

.input__notification{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    color: #eb5757;
    transform: translateY(130%);
    opacity: 0;
    visibility: hidden;
}

.contact-form__form-message{
    position: relative;
    width: 41.6667vw;
    height: 100%;
}

.input{
    position: relative;
    width: 100%;
    height: 100%;
}

.contact-form__form-message textarea{
    height: 100%;
    min-height: 200px;
    resize: none;
    padding: 24px 30px;
    margin: 0;
    font-size: 20px;
}

.contact-form__bottom{
    display: flex;
    width: 100%;
    padding-left: 25.00002vw;
    margin-top: 20px;
}

.contact-form__bottom-policy{
    width: 50.00004vw;
    font-size: 20px;
    line-height: 1.7;
}

.form-button, .form-button:focus {
    outline: none;
}

.contact-form__bottom-button{
    width: 12.50001vw;
    min-width: 220px;
    height: 80px;
    font-size: 20px;
    color: #172c5f;
    margin-left: 4.16667vw;
    background-color: #fff;
    border: none;
    outline: none;
    transition: color .3s;
    font-family: 'Sans-Serif';
}

@media (min-width: 1200px) {
    .contact-form__input{
        width: 20.83335vw;
        height: auto;
        margin-right: 4.16667vw;
        margin-bottom: 20px;
    }

    .contact-form {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .contact-form__head {
        margin-bottom: 60px;
    }

    .contact-form__bottom {
        margin-top: 20px;
    }
}

@media (max-width: 1200px) {
    .contact-form, .section-content {
        padding-left: 60px;
        padding-right: 60px;
    }

    .contact-form__head {
        flex-direction: column;
    }

    .contact-form__head-title {
        width: 100%;
        margin-bottom: 40px;
        font-size: 25px;
    }

    .contact-form__head-text {
        width: 100%;
        font-size: 16px;
    }

    .contact-form__form {
        flex-direction: column;
    }

    .contact-form__form-inputs, .contact-form__form-message {
        width: 100%;
        flex-direction: column;
    }

    .contact-form__input {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .input__label-text {
        font-size: 14px;
    }

    .contact-form__bottom {
        padding-left: 0;
    }

    .contact-form__bottom-policy {
        width: 58.33338vw;
        font-size: 14px;
    }

    .contact-form__bottom-button {
        width: 25.00002vw;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .contact-form, .section-content {
        padding: 80px 30px;
    }

    .contact-form__form-message textarea {
        min-height: 140px;
    }

    .contact-form__bottom {
        flex-direction: column;
    }

    .contact-form__bottom-policy {
        width: 100%;
        font-size: 12px;
    }

    .contact-form__bottom-button {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

}












